.card-body-style {
  /*display: flex;*/
}

.user-flex {
  display: flex;
  width: 11rem;
  float: left;
}

.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

/*.nb-user[picture] {*/
/*  width: 150px !important;*/
/*  height: 150px !important;*/
/*}*/

.description-flex {
  display: flow-root;
  /*float: left;*/
  /*display: flex;*/
  /*flex-direction: column;*/
}

.description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FIO {
  width: 15rem;
}

.Number {
  margin-bottom: 5px;
}

.Direction {
  margin-bottom: 5px;
}

.Other-information {
}

textarea{
  min-height: 81px;
  max-height: 250px;
}

.card-size {
  height: auto;
  width: 60rem;
}
