<div>
  <nb-card class="card-size">
    <nb-card-header>Worker information</nb-card-header>
    <nb-card-body class="example-items-col card-body-style">
      <div class="user-flex">
        <img class="avatar" (click)="showAvatar()" src="../../../../../../assets/images/default_avatar.jpg"/>
      </div>
      <div class="description-flex">
        <div class="description">
          <div class="FIO">
            <label for="surname" class="label">Фамилия</label>
            <input #surname type="text" id="surname" nbInput fullWidth fieldSize="small" placeholder="Surname" (change)="changeSurname(surname)"
                   value="{{user.surname}}">
          </div>
          <div class="FIO">
            <label for="name" class="label">Имя</label>
            <input #name type="text" id="name" nbInput fullWidth fieldSize="small" placeholder="Name" value="{{user.name}}" (change)="changeName(name)">
          </div>
          <div class="FIO">
            <label for="patronymic" class="label">Отчество</label>
            <input #patronymic type="text" id="patronymic" nbInput fullWidth fieldSize="small" placeholder="Patronymic"
                   value="{{user.patronymic}}" (change)="changePatronymic(patronymic)">
          </div>
        </div>
        <br>
        <div>
          <div class="Number">
            <label for="phoneNumber" class="label">Номер телефона</label>
            <input #phoneNumber type="text" id="phoneNumber" nbInput fullWidth fieldSize="small" placeholder="Phone"
                   value="{{user.phoneNumber}}" (change)="changePhoneNumber(phoneNumber)">
          </div>
          <div class="Direction">
            <label for="direction" class="label">Направление</label>
            <input #direction type="text" id="direction" nbInput fullWidth fieldSize="small" placeholder="Direction"
                   value="{{user.direction}}" (change)="changeDirection(direction)">
          </div>
          <div class="Other-information">
            <label for="otherInformation" class="label">Дополнительная информация</label>
            <textarea id="otherInformation" nbInput fullWidth placeholder="Other information"></textarea>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="float-left" status="success" (click)="edit()">Edit</button>
      <button nbButton class="float-right" status="danger" (click)="cancel()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</div>
