<nb-layout>
  <nb-layout-column class="colored-column-basic d-flex align-items-center justify-content-center">
    <nb-card class="container text-center col-md-3">
      <nb-card-header>Login</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
            <input type="text" nbInput fullWidth status="info" placeholder="Login" [(ngModel)]="userName" >
        </div>
        <div class="form-group row">
            <input type="text" nbInput fullWidth status="info" placeholder="Password" [(ngModel)]="password" >
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton class="float-left" status="success" [disabled]="isUserName()" (click)="onSubmit()">Sing in</button>
        <button nbButton class="float-right" status="basic">Cancel</button>
      </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>

