<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-10">
        <button nbButton status="success" (click)="onAddWorker()">Добавить работника</button>
      </div>
<!--      <div class="col-md-2">-->
<!--        <button nbButton status="info" class="float-right" (click)="onSave()">Сохранить</button>-->
<!--      </div>-->
    </div>
  </nb-card-header>
  <nb-card-body>
    <ul>
      <li *ngFor="let dataUser of users">
        <nb-card style="border: 1px solid aquamarine">
          <nb-card-header>
            <div class="row">
              <div class="col-md-10">
                {{dataUser.surname}} - {{dataUser.name}}
              </div>
              <div class="col-md-2">
                <button nbButton status="danger" class="float-right" (click)="onDelete(dataUser)">Удалить</button>
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-2">
                <label for="surname" class="label">Фамилия: </label>
                <input type="text" id="surname" nbInput value="{{dataUser.surname}}">
              </div>
              <div class="col-md-2">
                <label for="name" class="label">Имя: </label>
                <input type="text" id="name" nbInput value="{{dataUser.name}}">
              </div>
              <div class="col-md-2">
                <label for="patronymic" class="label">Отчество: </label>
                <input type="text" id="patronymic" nbInput value="{{dataUser.patronymic}}">
              </div>
              <div class="col-md-2">
                <label for="phoneNumber" class="label">Номер телефона: </label>
                <input type="text" id="phoneNumber" nbInput value="{{dataUser.phoneNumber}}">
              </div>
              <div class="col-md-2">
                <label for="direction" class="label">Направление: </label>
                <input type="text" id="direction" nbInput value="{{dataUser.direction}}">
              </div><div class="col-md-2">
                <label for="direction" class="label">Роль: </label>
                <input type="text" id="role" nbInput value="{{dataUser.role}}">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </li>
    </ul>
  </nb-card-body>
</nb-card>
